/* 와이드 pc  */
#wrap{overflow: hidden}
#content{background:rgba(0,0,0,.6)}
#content>div{margin-bottom:100px}

#content h3{font-size:35px; font-weight:700; text-align:center; margin-bottom: 50px}
#footerArea .topmenu{height:40px}
.backBox{width:100%;height:100%; overflow:hidden; position:absolute}
#BG {
   position:fixed; /*고정=>fixed/ 스크롤처리=>absolute */
   left:50%;
   top:50%; /*오른쪽, 아래에 여백을 두지않고 꽉차게 표시*/
   width:auto;
   min-width:100%; /*동영상 너비를 꽉차게*/
   height:auto;
   min-height:100%; /*동영상 높이를 꽉차게*/
  transform:translateX(-50%) translateY(-50%);
   z-index:-100; /*다른요소보다 아래에 위치*/
}

#imgBG{
   position:fixed; /*고정=>fixed/ 스크롤처리=>absolute */
   left:50%;
   top:50%; /*오른쪽, 아래에 여백을 두지않고 꽉차게 표시*/
   width:auto;
   min-width:100%; /*동영상 너비를 꽉차게*/
   height:auto;
   min-height:100%; /*동영상 높이를 꽉차게*/
  transform:translateX(-50%) translateY(-50%);
   z-index:-100;
   display:none
}

.backBox h2{position:absolute; top:50%; left:50%; width:772px; margin-top:-50px; margin-left:-386px; font-size:100px; font-weight:normal; text-align:center; line-height:120px; color:#017bc4; text-shadow:8px 8px 10px #fff;font-family: 'Permanent Marker', cursive}
.down{display: block; font-size: 20px; position: absolute; 
	 left:50%; margin-left: -70px; bottom: 20%;
	animation:ani 1s infinite  alternate;}
@keyframes ani {
	0% { transform:scale(1); opacity:1; color:#fff;}
	100% { transform:scale(1.2); opacity:0.8; color:#888;}
}	
.clip{overflow: hidden}
.clip2{width:90%; margin:0 5%}
.subTitle {
    position: relative;
    padding-top: 10px;
    font-size: 1.4em;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    color: #fff
}
.subTitle:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 120px;
    height: 4px;
    margin-left: -60px;
    background:#017bc4
}
.clip_part {
    width:50%; float: left;
}
.clip_part .contentArea {
    position: relative;
    width: 96%;
    margin: 30px auto
}
.imgPart {
    position: relative;
    cursor: pointer;
    margin-bottom: 30px
}

.clip_part .contentArea .imgPart .popup-youtube>img {
    width: 100%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3)
}

.clip_part .contentArea p {
    color: #fff;
    text-align: justify;
    font-family: 'Nunito Sans', sans-serif;
}

.clip_part .playBnt {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 110px;
    height: 110px;
    margin: -55px 0 0 -55px;
    border-radius: 94px;
    background: rgba(0,0,0,.6)
}

.clip_part .imgPart:hover .playBnt {
    background: rgba(19 122 201 / 74%)
}

.clip_part .playBnt img {
    position: relative;
    width: auto;
    top: 50%;
    left: 50%;
    margin: -32px 0 0 -20px    
}

.clip_full{width:90%; margin:0 5% 100px; float:none; padding-top:100px }

@media screen and (max-width:1024px) {
    .character .sullivan>img{margin-top:20px}
    .boo .boxMove{margin-top:230px}
    #content h3{font-size:30px; margin-bottom:30px}
}

@media screen and (max-width:768px) {
    #content h3{font-size:23px; margin-bottom:30px}
}

@media screen and (max-width:640px) {
    .clip_part{width:auto; float:none;}
    .subTitle{font-size:1.5em}
    .backBox h2{font-size:65px}
    .clip .clip_part:first-of-type p{margin-bottom:100px}
}

@media screen and (max-width:480px) {
    .clip_part .playBnt{
        width: 95px;
        height: 95px;
        margin: -48px 0 0 -48px
    }
    .clip_part .contentArea{width:auto}
    .backBox h2{font-size:45px; text-shadow:6px 6px 10px #fff}
    .clip_part .contentArea p{font-size:14px}
}