/* rental guide 본문 */

.content_area{overflow:hidden}
.content_area h3{font-family: 'Nanum Gothic',sans-serif; font-size:30px; margin-bottom:30px; color:#333; font-weight:700; clear:both}

.content_area ol{ width: 1000px; margin:0 auto; overflow:hidden}
.content_area ol li{width:150px; height:150px; border-radius:90px; border:5px solid #4689d0; float:left; margin-right:50px; font-family: 'Nanum Gothic',sans-serif; font-size:16px; text-align:center; margin-bottom:150px}
.content_area ol li:last-child{margin:0}
.content_area ol li::after{content: ''; display:block; width:55px; height: 1px;  border:1px solid #4689d0; background:#4689d0; position:relative; top:-63px; left:150px }
.content_area ol li p{position:relative; top:55px; left:0; color:#333}
.content_area ol li:last-child::after{display:none}

.content_area ol li span:first-child{font-family: 'Roboto', sans-serif; color:#4689d0; font-size:20px; font-weight:600}
.content_area ol li span:last-child{display:block; margin-top:80px; color:#999; font-size:14px}

.content_area h3{margin-left: 30px}
.content_area h3::before{content:''; display:block; width:18px; height:18px; border:3px solid #4689d0; position:relative; left:-30px; top:28px;}

.content_area .box{overflow:hidden; clear:both; padding-bottom:150px; font-family: 'Nanum Gothic',sans-serif;}
.content_area .box li{float:left; margin-right: 38px; position:relative; overflow:hidden; padding-bottom:150px}
.content_area .box li:last-child{margin-right: 0;}

.content_area .box li div{background:#fff; display:block; width:380px; height:75px; text-align:center; padding:30px 5%; position:absolute; left:50px; bottom:100px; box-shadow:4px 4px 20px rgba(0,0,0,0.3)}
.content_area .box li p:first-child{font-size:24px; color:#333; font-weight:600; line-height:2em}
.content_area .box li p:last-child{font-size:16px; color:#666; }
.content_area .box li a{display: block; position: absolute; bottom:0; background:#4689d0; color:#fff; font-weight:600; text-align:center; left:190px;  width:135px; height:35px; font-size:16px; padding-top:12px; padding-left:30px; }

.content_area .box li a img{display: block;  position: absolute; top:12px; left:30px; background:#4689d0; width:20px; height:18px;} 

.content_area .text1{padding-bottom:100px}
.content_area .text li{line-height:1.8em; margin-left:45px; font-size:18px;  font-family:'Nanum Gothic',sans-serif; color:#333}
.content_area .text li::before{content:''; display:block; width:5px; height:5px; border-radius:3px; position:relative; left:-15px; top:20px; background-color:#4689d0}


