/*a seating chart > sub4_2*/
.content_area{overflow:hidden; text-align:center; font-size:20px; font-family:'Nanum Gothic',sans-serif; color:#666}
.content_area p{font-size:16px; font-weight:700; margin-bottom:20px; margin-top:30px}
/*img{width:90%}*/

/*tabs*/
.content_area .tabs{width:100%; margin-bottom:50px;overflow:hidden}
.content_area .tabs li{float:left; width:50%; height:35px;}
.content_area .tabs .on a{color:#169dd9; font-weight:700}
.content_area .tabs li:last-child{float:right}
.content_area .tabs li:hover{color:#169dd9}
.content_area .contlist{display: none}

/*tabs2*/
.content_area .tabs2{overflow:hidden; padding-top:20px; position:relative; width:100%; left:50%; margin-left:-70px; top:-40px}
.content_area .tabs2 li{float:left; margin-right:40px; font-family:'Nanum Gothic',sans-serif; font-size:20px; font-weight:800}
.content_area .tabs2 li a{color:#999}
.content_area .tabs2 li a:hover{color:#333}
.content_area .tabs2 li::after{content:''; display:block; width:5px; height:5px; border-radius:3px; background:#169dd9; position:relative; left:40px; top:-11px}
.content_area .tabs2 li:last-of-type::after{display: none}
.content_area .tabs2 .on2 a{color:#333}
.content_area .contlist2{clear:both; overflow:hidden; display:none; width:100%}
.content_area .contlist2 ul{overflow:hidden;  margin:0px 5% 40px 5%; }
.content_area .contlist2 li{float:left; text-align:center; font-weight:600; font-family:'Nanum Gothic',sans-serif; font-size:13px; width:33.33%}
.content_area .contlist2 li:nth-of-type(1) span{color:#169dd9}
.content_area .hall1_seat1 li:nth-of-type(2) span{color:#d38b1c}
.content_area .hall1_seat1 li:nth-of-type(3) span{color:#b1b779}
.content_area .hall1_seat1 li:nth-of-type(4) span{color:#b478b6}

/*tabs3*/
.content_area .tabs3{width:100%; overflow:hidden; position:relative; top:-20px; left:50%; margin-left:-35px}
.content_area .tabs3 li{float:left; margin-right:40px; font-family:'Nanum Gothic',sans-serif; font-size:20px; font-weight:800}
.content_area .tabs3 li a{color:#999}
.content_area .tabs3 li a:hover{color:#333}
.content_area .tabs3 li:nth-of-type(1)::after{content:''; display:block; width:5px; height:5px; border-radius:3px; background:#169dd9; position:relative; left:40px; top:-13px}
.content_area .contlist3{display: none}
.content_area .tabs3 .on3 a{color:#333}

.contlist .seat img{width:90%}